<!DOCTYPE html>
<html>
<head>
    <title>Add Grades</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

<div class="container">
    <h1>Add Grades</h1>

    <form method="POST">
      <input type="text" name="roll" placeholder="Roll Number" required>
      <input type="text" name="subject" placeholder="Subject" required>
      <input type="number" name="marks" placeholder="Marks (0-100)" required>
      <button type="submit">Add Grade</button>
    </form>

    <br>
    <a href="/" class="btn">Back</a>
</div>

</body>
</html>
