<!DOCTYPE html>
<html>
<head>
    <title>Student Performance Tracker</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

<div class="container">
    <h1>Student Performance Tracker</h1>

    <div style="text-align:center;">
        <a class="btn" href="/add-student">Add Student</a>
        <br><br>
        <a class="btn" href="/add-grades">Add Grades</a>
    </div>

    <h2>All Students</h2>

    <ul>
      {% for s in students %}
        <li>{{ s["name"] }} - {{ s["roll_number"] }}</li>
      {% endfor %}
    </ul>
</div>

</body>
</html>
